* {
  padding: 0;
  margin: 0;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 4px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;  
  display: flex;
}

li a, .nav-right a {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  padding: 20px 18px;
  text-decoration: none;
  background-color: #333;
  transition: 0.3s;
}

li a:hover, .nav-right a:hover {
  background-color: #dc2c2c;
}

.nav-left {
  float: left;
  width: 90%;
}

.nav-right {
  float: right;
  width: 10%;
}
.dest_slike {
  width: 20%;
  display: inline-block;
  margin: 2.5px; 
  transition: filter  0.5s; 
  border-radius: 3px;
}

.dest_slike:hover {
    filter: grayscale(75%);    
}

.destinacije {
  margin: 3rem;
  display: flex;  
  justify-content: center;
  margin-top: 20px;
}

.naslov_destinacije {
  text-align: center;
  padding-bottom: 0px;
  margin-top: 100px;
  margin-bottom: 5px;
  font-family: Arial;
  color: #333;
  font-size: 30px;
}

body {
  background-color: #FAFAFA;
}

.naslov_slika {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  margin-top: -41px;
  margin-bottom: 100px;
  font-family: Arial;
}

h3 {
  color: #333;
  font-size: 25px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  background-color: #333;  
  padding: 50px; 
  padding-bottom: 30px;
  padding-top: 70px;
}

.footer_h2 {
  color: white;
  font: Arial;
  font-size: 22px;
  font-weight: 550;
}

.footer_ul {
  display: block;
  margin: 10px;
  margin-left: 0px;
  color: white;
  font-family: Arial;
  font-size: 17px;
  line-height: 30px;
}

.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer2 {
  padding-top: 40px;
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: Arial;
}

.footer_container {
  padding-left: 25%;
  padding-right: 25%;
  
}

.footer1_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_p {
  color: white;
  font-size: 17px;
}

.footer_input2 {
  padding-top: 26px;
}

.btn_footer {
  margin-top: 5px;
  background-color: #dc2c2c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  transition: 0.8s;
}

.btn_footer:hover {
  background-color: red;
}
/*KONTAKT*/

.kontakt_h2 {
  font-family: Arial;
  font-size: 25px;
  margin: 40px;
  margin-bottom: 70px;
  color: #333;  
}

.kontakt_p {
  font-family: Arial;
  font-size: 20px;
  margin: 40px;
  margin-bottom: 150px;
  color: #333;
}

/*NEWSLETTER*/

.newsletter_form {
  display: flex;
  flex-direction: column;    
  margin-top: -50px;
  margin-left: 100px;
}

input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  
}

.newsletter_btn {
  background-color: #dc2c2c;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 200px;
  transition: opacity 0.5s;  
  margin-top: 13px;
  margin-bottom: 100px;
}

.newsletter_btn:hover {
  opacity: 0.8;
}

.uname {    
  margin: 5px;
  margin-left: 0px;
  color: #333;
}

.btn_avioni {
  display: flex;
  justify-content: center;
  margin: 150px;
}

.id_main_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
  row-gap: 10px;
  column-gap: 10px;
}

.main_div_sub {
  background-color: green;
  height: 100px;
}











