html {
  font-family: Monospace, Monaco;
}
h3 {
  color: SlateBlue;
  text-align: center;
  
}

h4 {
  color: Violet;
  margin-left: 200px;
}

p {
  background-color: LightGray;
  border-style: solid;


  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
}

ul {
  text-align: center;
  color: Orange;
}

.klasa {
  background-color:Tomato
}




